<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NominalCodes">
      <section name ="NominalPaymentCodes" type="System.Configuration.NameValueSectionHandler"/>
      <section name ="NominalReceiptCodes" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <section name ="DepartmentCodes" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <NominalCodes>
     <NominalPaymentCodes>
       <add key="PRE_TAX" value="200100"/>
       <add key="ABS" value= "100100"/>
       <add key="TAX_PAY" value= "200100"/>
       <add key="ER_PEN_NP" value= "200300"/>
       <add key="NET_ER_NI_NP" value= "200200"/>
       <add key="POST_TAX" value="220200"/>
     </NominalPaymentCodes>
     <NominalReceiptCodes>
       <add key="SLOAN" value="800100"/>
       <add key="NET_ER_NI" value="800100"/>
       <add key="NET_EE_NI" value="800100"/>
       <add key="TAX" value="800100"/>
       <add key="ER_PEN" value="800300"/>
       <add key="POST_PEN" value="800300"/>
       <add key="NET_PAY" value="800200"/>
     </NominalReceiptCodes>
  </NominalCodes>

  <DepartmentCodes>
    <add key="1" value="COMM,CORP"/>
    <add key="2" value="COMM,CLI1"/>
    <add key="4" value="COMM,CLI2"/>
    <add key="5" value="PROP,PRO1"/>
    <add key="6" value="PROP,RES1"/>
    <add key="7" value="PROP,PRO3"/>
    <add key="9" value="PRIV,PRI2"/>
    <add key="10" value="FIN,ZIFA"/>
    <add key="11" value="ZTRS,TRS"/>
    <add key="12" value="SUPP,ADMI"/>
    <add key="13" value="SUPP,MKTG"/>
    <add key="14" value="SUPP,IT"/>
    <add key="15" value="SUPP,ACCS"/>
    <add key="16" value="SUPP,PERS"/>
    <add key="17" value="PRIV,PRI1"/>
    <add key="19" value="PRIV,FAM"/>
    <add key="20" value="PRIV,INH"/>
    <add key="22" value="PRIV,FAM3"/>
    <add key="BLHR &amp; Employment" value="ZHR,ZHR1"/>
    <add key="IP" value="COMM,ZIP"/>
  </DepartmentCodes>
    

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>